# Arquivos de build
bin/
obj/
out/

# Configurações do Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Configurações do Visual Studio Code
.vscode/

# Arquivos gerados por pacotes
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Logs e relatórios
*.log
*.tlog
*.dmp
*.stackdump
*.err
*.scc

# Arquivos temporários
*.tmp
*.temp
*.cache
*.config
*.pid
*.tar.gz
*.zip

# Arquivos de configuração sensíveis
appsettings.json
appsettings.*.json

# Ferramentas de desenvolvimento
node_modules/
dist/
wwwroot/
coverage/
TestResults/

# User Secrets (dotnet user-secrets)
**/secrets.json

# Sistemas de Contêiner/Orquestração
docker-compose.override.yml
.docker/
*.dockerignore

# Sistemas de build
!/.nuget/
!.nuget/NuGet.Config
*.DS_Store

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/
.idea_modules/
*.sln.iml

**/Properties/launchSettings.json
src/Api/appsettings.Development.json
src/Api/appsettings.json
src/Api/Properties/launchSettings.json
